@model IEnumerable<SpeedyWheels.ViewModels.CarDetailsViewModel>
@{
    ViewData["Title"] = "Szczegóły";
}

<div class="text-center">
    @foreach (var car in Model)
    {
        <div style="border: 2px solid; background-color: lightsteelblue; box-shadow: inset; margin: 5pt;" class="row">
            <div class="col-md-6" style="">
                <img src="@car.ImageAddress" width="600pt" height="500pt" style="margin: 10pt; vertical-align: central; " class="card-img">
            </div>
            <div class="col-md-6" style="">
                <h1 style="float: right; padding: 5pt;"> @car.Brand @car.Name</h1>
                <p style="float: right; clear: both; padding: 5pt;">Rok produkcji: @car.ProductionYear</p>
                <p style="float: right; clear: both; padding: 5pt;">Ilość drzwi: @car.DoorCount</p>
                <p style="float: right; clear: both; padding: 5pt;">Rodzaj skrzyni biegów: @car.GearBox</p>
                <p style="float: right; clear: both; padding: 5pt;">Przebieg: @car.Mileage</p>
                <p style="float: right; clear: both; padding: 5pt;">Numer rejestracyjny: @car.RegistrationNumber</p>
                <p style="float: right; clear: both; padding: 5pt;">Ilość miejsc: @car.SeatsCount</p>
                <h3 style="float: right; clear: both; padding: 5pt;">@car.CostPerHour zł/h</h3>
                @if(!car.IsRented){
                    <form asp-controller="CarDetails" asp-action="Rent" method="post" style="float: right; clear: both; padding: 5pt;">
                        <input style="visibility: hidden" type="number" name="id" readonly value="@car.Id">
                        <label style="float: right; clear: both; padding: 5pt;">Od :<input type="datetime-local" required name="st"></label>
                        <label style="float: right; clear: both; padding: 5pt;">Do :<input type="datetime-local" required name="ed"></label>
                        <input class="btn btn-primary" style="float: right; clear: both; padding: 5pt;" type="submit" value="Zarezerwuj">
                    </form>
                }
            </div>
        </div>
    }
</div>