@model IEnumerable<SpeedyWheels.ViewModels.CarSearchViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class=" text-center">
    <form asp-controller="Home" asp-action="Index" method="get">
        <p>
            <input style="width: 80%;margin: 5pt;" type="text" name="pattern" />
            <input style="width: 20%;margin: 5pt;" type="submit" value="Filter" />
        </p>
    </form>
</div>


<div class="text-center">
    @foreach (var car in Model)
    {
        <div style="border: 2px solid; background-color: antiquewhite; box-shadow: inset; margin: 5pt;" class="row">
            <div class="col-md-6" style="width: auto;">
                <img src="@car.ImgUrl" width="250pt" height="200pt" style="margin: 10pt; vertical-align: central; " class="card-img"></img>
            </div>
            <div class="col-md-6 flex-fill" >
                <h1 style="float: right; padding: 5pt;"> @car.Brand @car.Name</h1>
                <p style="float: right; clear: both; padding: 5pt;">@car.ProductionYear</p>
                <h3 style="float: right; clear: both; padding: 5pt;">@car.CostPerHour zł/h</h3>
                <button style="float: right; clear: both; padding: 5pt;" class="spr btn btn-primary" value="@car.Id">Sprawdz</button>
            </div>
        </div>
    }
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            $(".spr").click(function () {
            var ID = $(this).val();
            $.ajax({
                url: '@Url.Action("Index","CarDetails")',
                type: 'GET',
                data: {
                    id: ID
                },
                success: function (result) {
                    console.log(ID);
                },
                error: function () {
                    alert("error");
                }
            });
        });
    });
</script>